@utility button {
  display: inline-block;
  font-family: var(--font-body);
  font-size: var(--text-sm);
  border: 1px solid var(--color-light-border);
  border-radius: var(--radius-button);
  box-shadow: var(--shadow-button);
  line-height: calc(var(--spacing) * 4);
  text-decoration: none;
  user-select: none;
  outline: 0;
  transition: all var(--duration-hover) var(--ease-hover);
  cursor: pointer;

  &:active {
    translate: 0 1px;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:focus-visible {
    outline-width: 2px;
  }
}

@utility button-primary {
  color: var(--color-button-foreground);
  background-color: var(--color-button-background);
  text-shadow: var(--text-shadow-button);

  &:hover {
    background-color: var(--color-button-hover-background);
  }
}

@utility button-secondary {
  color: var(--color-secondary-button-foreground);
  background-image: var(--gradient-button);
  text-shadow: var(--text-shadow-secondary-button);

  &:hover {
    background-image: var(--gradient-button-hover);
    border-color: var(--color-border);
  }
}
