@utility button {
  display: inline-block;
  font-family: var(--font-body);
  font-size: var(--text-sm);
  border: 1px solid var(--color-light-border);
  border-radius: var(--radius-button);
  box-shadow: var(--shadow-button);
  text-decoration: none;
  color: var(--color-secondary-button-foreground);
  background-image: var(--gradient-button);
  text-shadow: var(--text-shadow-secondary-button);
  user-select: none;
  outline: 0;
  transition: all var(--duration-hover) var(--ease-hover);
  cursor: pointer;

  &:hover {
    background-image: var(--gradient-button-hover);
    border-color: var(--color-border);
  }

  &:active {
    translate: 0 1px;
  }

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:focus-visible {
    outline: var(--border-width-focus) solid var(--color-accent);
    outline-offset: var(--border-width-focus-offset);
  }
}

@utility button-small {
  height: --spacing(6);
  padding-inline: --spacing(2);
  font-size: var(--text-sm);
  line-height: 0.9;
}

@utility button-large {
  padding-inline: --spacing(4);
  font-size: var(--text-lg);
  line-height: 1.5;
}
